
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 600px) {
    header {
        flex-direction: column;
    }
}

#header-img {
    height: 100px;
}

#nav-bar {
    display:flex;
    gap: 15px;
    margin: 0 15px;
}


form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#email {
    width: 300px;
    margin-bottom: 10px;

}

#submit {
    background-color: rgb(179, 241, 179);
    padding: 10px 50px;
    border-radius: 15px;
}

.features {
    display: flex;
    flex-direction: column;
    margin: 0 200px;
    gap: 15px;
}

.features h2 {
    padding: 0 15px;
}

.materials, .shipping, .quality{
    display: flex;
    align-items: center;
}

.icons {
    width: 100px;
}

iframe {
    display: block;
    margin: 50px auto;
}

.pricing {
    display: flex;
    justify-content: center;
    gap: 100px;
    
}    

.pricing h2 {
    text-align: center;
    margin: 0 0;
    background-color: blanchedalmond;
}

.standard, .deluxe, .premium {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    margin: 20px;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: lightgray
}

ul {
    display: flex;
    gap: 30px;
    list-style-type: none;

}
